
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.exo-2-header {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Hide scrollbar for mobile navigation */
.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

/* Add stripe.js progress animation */
@keyframes progress {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0); }
}

.animate-progress {
  animation: progress 2.5s ease-in-out infinite;
  width: 100%;
}

/* Add other global styles here */
