
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');

.exo-2-header {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Add other global styles here */
